extends layout-admin

block content
    h1 Обменники
    
    table(width="100%")
        thead
            th
            th Id
            th Название
            th Описание
            th Курсы
            th Загружены
            //th Ошиб. курсы
            th Сумма резервов
            th Дата начала
            th ru→
            th en→
            th XML→
        tbody
        each ex in exchList
            tr
                td
                    a.utf8-icon(href="/admin/table/exchangers/" + ex.id + "/edit") ✎
                td #{ex.id}
                td #{ex.name}
                td ?
                td =
                td #{ formatDate(ex.xmlStartedAt || ex.xmlParsedAt || ex.updatedAt)}
                //td ?
                td ?
                td #{ formatDate(ex.createdAt) }
                td &times;
                td &times;
                td(class = ex.xmlVerified ? 'xml verify_yes' : 'xml verify_no')
                    if (ex.xmlVerified)
                        a(href=ex.xml target="_blank") #{ ex.xml }#{ ex.xml ? ' →' : '' }
                    else
                        span #{ ex.xml }
    
    script const exchSources = !{ JSON.stringify(exchList, null, 4) };
