extends layout-admin

block content
    h1 Админка
    
    table
        thead
            th Id
            th Название
            th Курсы
            th Загружены
            th Ошиб. курсы
            th Сумма резервов
            th Расчёт
            th Дата начала
            th ru→
            th en→
            th xml→
            th 
        tbody
        each ex in exchList
            <tr>
                td #{ex.id}
                td #{ex.name}
                td =
                td #{ex.xmlStartedAt && new Date(ex.xmlStartedAt)}
                td ?
                td =
                <!--td>Обменник: #{JSON.stringify(exch)}</td-->
                td ?
                td #{ex.createdAt && formatDate(new Date(ex.createdAt))}
                td &times;
                td &times;
                td #{xml}
                td #{ JSON.stringify($data) }
                td 
            </tr>
    pre #{ JSON.stringify(exchList, null, 4) }
