extends layout-admin

block content
    h1 Обменники
    
    table(width="100%")
        thead
            th Id
            th Название
            th Описание
            th Курсы
            th Загружены
            th Ошиб. курсы
            th Сумма резервов
            th Расчёт
            th Дата начала
            th ru→
            th en→
            th XML→
        tbody
        each ex in exchList
            tr
                td #{ex.id}
                td #{ex.name}
                td ?
                td =
                td #{ formatDate(ex.xmlStartedAt || ex.xmlParsedAt || ex.updatedAt)}
                td ?
                td =
                td ?
                td #{ formatDate(ex.createdAt) }
                td &times;
                td &times;
                td(class=xmlVerified?'verify_yes':'verify_no') #{ ex.xml }#{ ex.xml ? ' →' : '' }
    
    script const exchSources = ${ JSON.stringify(exchList, null, 4) };
