header
    ul.top-status-line
        li
            | Обновлено 
            em.value(title=moment( aggregator.oldestUpdatedAt() ))= moment(aggregator.oldestUpdatedAt()).fromNow()
        li
            | Курсы 
            em.value= numberWithSpaces(aggregator.ratesCount()) 
        li
            | Направления 
            em.value= numberWithSpaces(aggregator.pairsCount()) 
        li
            | Обменники 
            em.value= aggregator.exchangersCount() 
    
    div.logo= SITE_NAME
    
    ul.menu
        li(class=("/"         === urlPath) && "active")
            a(href="/") Главная
        li(class=("/faq"===urlPath)        && "active")
            a(href="/faq") F.A.Q.
        li(class=("/exchangers"===urlPath) && "active")
            a(href="/exchangers") Обменники
        li(class=("/contacts"===urlPath)   && "active")
            a(href="/contacts") Контакты
        
        if signInUser()
            li(style="float: right")
                strong.user-name #{ session.user.login }
                a(href="/logout" style="text-decoration: none")! &times;
        else
            li(class=("/login"===urlPath) && "active" style="float: right")
                a(href="/login") ✔️ Вход
