header
    ul.top-status-line
        li
            | Всего курсов: 
            em.value= numberWithSpaces(aggregator.ratesCount())
            | , направлений: 
            em.value= numberWithSpaces(aggregator.pairsCount())
            | , обменников: 
            em.value= aggregator.exchangersCount()
            | , обновлено: 
            em.value(title=moment( aggregator.oldestUpdatedAt() ))= moment(aggregator.oldestUpdatedAt()).fromNow()
    
    div.logo= SITE_NAME
    
    ul.menu
        li(class=("/"===urlPath) && "active")
            a(href="/") Главная
        li(class=("/faq"===urlPath) && "active")
            a(href="/faq") F.A.Q.
        li(class=("/exchangers"===urlPath) && "active")
            a(href="/exchangers") Обменники
        li(class=("/contacts"===urlPath) && "active")
            a(href="/contacts") Контакты
