doctype html

html
    head
        title= (title ? title + ' — ' : '') + "EXNODE"
        link(rel='stylesheet', href='/css/common.css', media="all")
        
    body.site-layout
        header
            ul.top-status-line
                li
                    | Всего курсов:
                    em.value= aggregator.pairsCount()
                    | Обменников:
                    em.value #{aggregator.exchangersCount()}
                    | Обновление:
                    em.value #{moment( aggregator.process().now ).fromNow()}
            
            div.logo Exnode
            
            ul.menu
                li.active
                    a(href="/") Главная
                li
                    a(href="/table.html") Обмен валюты
        
        block content
        
        footer
            p Welcome to #{title}
