extends /views/admin/layout-admin

block content
    script const touchesByExchangerId = !{ JSON.stringify(touchesByExchangerId, null, 4) };
    script const exchSources = !{ JSON.stringify(exchList, null, 4) };

    h1 Обменники
    
    table(width="100%")
        thead
            th.id Id
            th Название
            th Описание
            th.rates_count Курсы
            th Загружены
            //th Ошиб. курсы
            th Сумма резервов
            th Дата начала
            th ru→
            th en→
            th XML→
            th(style="min-width: 2em")
        tbody
        each ex in exchList
            tr
                td.id #{ex.id}
                td #{ex.name}
                td ?
                td.rates_count #{ (touchesByExchangerId[ex.id] || {}).length || 0 }
                td #{ formatDate(ex.xmlStartedAt || ex.xmlParsedAt || ex.updatedAt)}
                //td ?
                td ?
                td #{ formatDate(ex.createdAt) }
                td &times;
                td &times;
                td(class = ex.xmlVerified ? 'xml verify_yes' : 'xml verify_no')
                    if (ex.xmlVerified)
                        a(href=ex.xml target="_blank") #{ ex.xml }#{ ex.xml ? ' →' : '' }
                    else
                        span #{ ex.xml }
                td.tr-hover_show
                    a.utf8-icon(href="/admin/table/exchangers/" + ex.id + "/edit") ✎
