extends /views/admin/layout-admin

block content
    script const ratesByExchangerId = !{ JSON.stringify(ratesByExchangerId, null, 4) };
    script const exchListSources = !{ JSON.stringify(exchList, null, 4) };

    h1 Обменники
    
    p.intity-list-actions(style="text-align: right")
        a(href=url("admin.exchanger_edit", { id: "new" }))
            span.utf8-icon_inline + 
            | обменник
    
    table(width="100%")
        thead
            th.id Id
            th Название
            th Описание
            th.rates_count Курсы
            th Загружены
            th Ошиб. курсы
            //th Сумма резервов
            th Дата начала
            th ru→
            th en→
            th xml
            th(style="min-width: 1.5em")
        tbody
        each ex in exchList
            tr
                td.id #{ ex.id }
                td #{ ex.name }
                td #{ ex.description && 'Да' }
                td.rates_count #{ (ratesByExchangerId[ex.id] || {}).length || 0 }
                td.date_view #{ formatDate(ex.xmlStartedAt || ex.xmlParsedAt || ex.updatedAt) }
                td #{ ex.badRates ? ex.badRates.legth : 0 }
                //td ?
                td.date_view #{ formatDate(ex.createdAt) }
                td &times;
                td &times;
                td(class = ex.xmlVerified ? 'xml verify_yes' : 'xml verify_no')
                    if (ex.xmlVerified)
                        a(href=ex.xml target="_blank") #{ ex.xml }#{ ex.xml ? ' →' : '' }
                    else
                        span #{ ex.xml }
                
                td.tr-hover_show
                    a.utf8-icon(href=url("admin.exchanger_edit", { id: ex.id })) ✎
