extends /views/admin/layout-admin

block append scripts
    script(src="/admin/js/exchanger_edit.js?7")

block content
    //- var title = '✎ ' + (isNew ? 'Новый обменник' : exch.name)

    script const exch = !{ JSON.stringify(exch, null, 4) };

    h1 Обменник: #{ exch.name || 'Новый' }
    
    p.intity-one-actions(style="text-align: right")
        a(href=url("admin.exchangers")) Список обменников
    
    form(action="" method="post" style="width: 100%")
        //input(type="hidden" name="id" value=exch.id)
        table(width="100%")
            thead
                tr
                    th
                    th
                        button(type="submit" id="save_button")
                            | Сохранить
            tbody
                tr
                    td id
                    td
                        strong #{ exch.id }
                tr
                    td Название
                    td
                        if (isNew)
                            input(type="text" name="name" value=exch.name)
                        else
                            strong #{ exch.name }
                tr
                    td Полное название
                    td
                        input(type="text" name="fullname" value=exch.fullname)
                tr
                    td Описание
                    td
                        textarea(name="description")=exch.description
                tr
                    td Курсы
                    td #{ ratesCount } (загружены #{ formatDate(exch.xmlStartedAt || exch.xmlParsedAt || exch.updatedAt) })
                tr
                    td Дата начала
                    td #{ formatDate(exch.createdAt) }
                tr
                    td Ссылка, ru
                    td
                        input(type="text" name="ru" value=exch.ru)
                tr
                    td Ссылка, en
                    td
                        input(type="text" name="en" value=exch.en)
                tr
                    td
                        | Ссылка 
                        strong xml
                    td
                        input(type="text" name="xml" value=exch.xml)
                tr
                    td
                        | Ссылка 
                        strong xml 
                        | проверена
                    td
                        input(type="checkbox" name="xmlVerified" checked=exch.xmlVerified)
                tr
                    td
                        | Шаблон ссылки на обменную пару
                    td
                        input(type="text" name="exUrlTmpl" value=exch.exUrlTmpl)
