extends /views/admin/layout-admin

block content
    script const exch = !{ JSON.stringify(exch, null, 4) };

    h1 #{exch.name}
    
    table(width="100%")
        thead
            tr
                th
                th
                    button(value="Сохранить" id="save_button")
        tbody
            tr
                td id
                td
                    strong #{ exch.id }
            tr
                td Название
                td
                    strong #{ exch.name }
            tr
                td Полное название
                td
                    input(type="text" name="fullname" id="exch.fullname" value=exch.fullname)
            tr
                td Описание
                td
                    textarea(name="description" id="exch.description" value=exch.description)
            tr
                td Курсы
                td #{ (ratesByExchangerId[exch.id] || {}).length || 0} (загружены #{ formatDate(exch.xmlStartedAt || exch.xmlParsedAt || exch.updatedAt) })
            tr
                td Дата начала
                td #{ formatDate(exch.createdAt) }
            tr
                td Ссылка, ru
                td
                    input(name="ru" type="text" id="exch.ru" value=exch.ru)
            tr
                td Ссылка, en
                td
                    input(name="en" type="text" id="exch.en" value=exch.en)
            tr
                td
                    | Ссылка 
                    strong xml
                td
                    input(name="xml" type="text" id="exch.xml" value=exch.xml)
            tr
                td
                    | Ссылка 
                    strong xml 
                    | проверена
                td
                    input(name="xmlVerified" type="checkbox" id="exch.xmlVerified" checked=exch.xmlVerified)
                    
