extends /views/admin/layout-admin

block content
    script const list = !{ JSON.stringify(list, null, 4) };

    h1 Обменники
    
    p.intity-list-actions(style="text-align: right")
        a(href=url("admin.user_edit", { login: "" }))
            span.utf8-icon_inline + 
            | пользователь
    
    table(width="100%")
        thead
            th.id Id
            th Логин
            th Пароль
            th Дата начала
            th(style="min-width: 1.5em")
        tbody
        each user in list
            tr
                td.id #{ user.id }
                td #{ user.login }
                td #{ isEmptyPasswd ? 'Да' : '' }
                td.date_view #{ formatDate(user.createdAt) }
                
                td.tr-hover_show
                    a.utf8-icon(href=url("admin.user_edit", { login: user.login })) ✎
