extends /views/admin/layout-admin

block append scripts
    script(src="/admin/js/user_edit.js?1")

block content
    script const user = !{ JSON.stringify(user, null, 4) };

    h1 Пользователь: #{ user.login || 'Новый' }
    
    p.intity-one-actions(style="text-align: right")
        a(href=url("admin.users")) Список пользователей
    
    form(action="" method="post" style="width: 100%")
        table(width="100%")
            thead
                tr
                    th
                    th
                        button(type="submit" id="save_button")
                            | Сохранить
            tbody
                tr
                    td id
                    td
                        strong #{ user.id }
                tr
                    td Логин
                    td
                        if (isNew)
                            input(type="text" name="login" value=user.login)
                        else
                            strong #{ user.login }
                tr
                    td Пароль
                    td
                        input(name="passwd")
                tr
                    td Представитель обменника
                    td
                        select(name="exchangerId")
                            option(value="") Нет
                            for exch in exchangerList
                                option(value=exch.id selected=(user.exchangerId == exch.id)) #{ exch.name }
